
.mainNav{
 display: flex;
 justify-content: space-between;
}

.NavOptions{
    border-bottom: 2px solid #a3a3a3;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    /* width: 40%; */
    /* font-size: larger; */
    /* padding: 10px; */
  }
  .NavOptions > p{
    margin: 10px;
    font-size: 15px;
    color: #333;
  }
.secNav{
  display: flex;
  font-size: 22px;
  justify-content: center;
  gap: 50px;
}
